<span class="cards--bookmarked"  data-skip-dividers="true">
    <% @projects.each do |project| %>    
    
    <article class="card card--project card--project-team card--playgrounded">
        <section class="card__slider" data-role="card_slider">
            <div class="card__slide card__slide-1" data-role="card_slide" data-step="1">
            <%= link_to project, :class => "card__link" do %>               
                    <div class="card__content">
                        <section>
                    <div class="card__filterable-content">                
                    <h2 class="card__title flush" title="" data-role="content_filter_text">
                        <%= project.name %>  
                    </h2> 
                    <p class="card__description flush" title="" data-role="content_filter_text">
                        <%= project.description %>                         
                      </p>               
                    </div>                
                </section>              
                                     
                    </div>               
              <% end %>   
    </div>
        </section>
    </article>   
<% end %>
</span>      
