<a class="card__link"><div class="card__content">
  <header class="card__header centered">
    <h1 class="card__heading flush txt--truncate">
      <span class="card__title">Docs &amp; Files</span>
    </h1>
  </header>
  <section class="card__body  centered push_half--top">
    <div class="card__blank-slate">
      <div class="card__icon card__icon--document"></div>
      <div class="card__description align--center">
        <p class="flush">
          Share docs, files, images, and spreadsheets. Organize in folders so they’re easy to find.
        </p>
      </div>
    </div>

    <div class="card__body-content">
      <object>
        
      </object>
    </div>
  </section>
    </div>
    </a>