<a class="card__link" href="">
    <div class="card__content">
        <header class="card__header centered">
        <h1 class="card__heading flush txt--truncate">
            <span class="card__title">To-dos</span>
        </h1>
        </header>  
            <section class="card__body card__body--blank  push_half--top">
            <div class="card__blank-slate">
                <div class="card__icon card__icon--todos"></div>
                <div class="card__description align--center">
                <p class="flush">
                    Make lists of work that needs to get done, assign items, set due dates, and discuss.
                </p>
                </div>
            </div>
        
            <div class="card__body-content">
        
                <object>
                        </object>
            </div>
    </section>
  </div></a>